*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
}


#display{
    width: 320px;
    height: 280px;
    margin: 30px auto;
}

#dog-image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px royalblue
}

button{
    display: block;
    margin: auto;
    padding: 20px;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 20px;

}

button:active{
    transform: scale(0.99);
}

h1{
    text-align: center;
    text-transform: uppercase;
    margin:  50px;
    color: orangered;
    font-weight: bold;
}

